<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.usemodj.jpetstore.mappers.ItemMapper">
	<select id="selectItemList" parameterType="string" 
				resultType="com.usemodj.jpetstore.domain.Item">
		SELECT
			itemid		AS itemId	 	,  
			productid	AS productId,
			listprice	AS listPrice,
			unitcost	AS unitCost	,  
			supplier	AS supplierId, 
			status		AS status		,  
			attr1			AS attribute1, 
			attr2			AS attribute2, 
			attr3			AS attribute3, 
			attr4			AS attribute4, 
			attr5			AS attribute5
		FROM item
		WHERE productid = #{productId}
	</select>
	<select id="selectItem" parameterType="string"
				resultType="com.usemodj.jpetstore.domain.Item">
		SELECT
			itemid		AS itemId	 	,  
			productid	AS productId,
			listprice	AS listPrice,
			unitcost	AS unitCost	,  
			supplier	AS supplierId, 
			status		AS status		,  
			attr1			AS attribute1, 
			attr2			AS attribute2, 
			attr3			AS attribute3, 
			attr4			AS attribute4, 
			attr5			AS attribute5
		FROM item
		WHERE itemid = #{itemId}
				
	</select>
</mapper>