<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.usemodj.jpetstore.mappers.SignonMapper">
  <resultMap id="selectSignonResult" type="com.usemodj.jpetstore.domain.Signon">
		<id property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="role" column="role"/>
  </resultMap>
  <select id="selectSignon" parameterType="string" resultMap="selectSignonResult">
    select username, password, role
    from signon where username = #{username}
  </select>

  <insert id="insertSignon"
          parameterType="com.usemodj.jpetstore.domain.Signon">
    INSERT INTO signon (username, password, role)
    	VALUES(#{username}, #{password}, #{role})
  </insert>
  <insert id="insertSignon2"
          parameterType="string">
    INSERT INTO signon (username, password, role)
    	VALUES(#{username}, #{password}, #{role})
  </insert>
	
  <update id="updatePassword"
          parameterType="com.usemodj.jpetstore.domain.Signon">
    UPDATE signon
    SET password=#{password}
    WHERE username=#{username}
  </update>
  <update id="updateRole"
          parameterType="com.usemodj.jpetstore.domain.Signon">
    UPDATE signon
    SET role=#{role}
    WHERE username=#{username}
  </update>
		
</mapper>